{% extends "blog/base.html "%}
{% block content %}
	<article class="media content-section">
        <div class="media-body">
            <h1 class="text-center">About Myblog</h1>
        </div>
    </article>

    <article class="media content-section">
        <div class="media-body">
            <p>A full feature responsive Blog Application. An easy-to-use, free blogging application with the functionality of User login,
                logout, change password, forgot password and update user detail, update profile image,Crete new post, Delete post,
                Update Post, Comment on post, delete, comment and additional features available for a fee.</p>
        </div>
    </article>
{% endblock content %}